<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="Width = device-width, intial-scale = 1.0"/>
        <title>Excel Site</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      

      
    </head>

    <body>
        <div class = "pagebox">

            <div class = "rounded-rectangle">
                
                <textarea placeholder = "Enter Text Here... "class="text-box" id = "datainput"></textarea>






                <div class = "buttonplacement">
                    <button class = "blue-button" id = "Submit-Button">Submit</button>
                    <button class = "blue-button" id = "Reset-Button">Reset</button>
                </div>
            </div>
            <div class = "rounded-rectangle" id = "box">

                <div class="excel-container">
                    {{ table_html|safe }}
                </div>

                <div class = "buttonplacement">

                    

                    <a href="http://127.0.0.1:5000/download_excel" class="blue-button" id="Download-Button">Download</a>
                
                </div>

            </div>
        </div>
        <!-- <script type = "module" src = "/index.js"></script> -->

    </body>

 </html>